<mat-card class="card" style="background-color:#fff3d4">

  <!-- Use the mat-card-content to add the proper spacing. -->
  <mat-card-content>
    <span class="card-title">{{title}}</span>
    <div style="word-wrap: break-word;">{{description}}</div>

    <mat-icon (click)="delete.next()" class="icon card-cancel-button">cancel_outline</mat-icon>
  </mat-card-content>

  <!-- Section for buttons and the talk author. -->
  <mat-card-actions>
    <!-- <button mat-button (click)="delete.next()">DELETE</button> -->
    <mat-icon class="edit-icon" (click)="edit.next()">edit</mat-icon>
  </mat-card-actions>
</mat-card>
